body{
    font-family: lato;
    margin-top: 200px;
    text-align: center;
    color: white;
}

#clock{
    font-weight: 300;
    font-size: 100px;
}

#day{
    font-size: 60px;
    font-weight: 500;
}